{% extends 'catalog/base.html' %}

{% block menu %}
<div class="col-12">
    <div class="row">
        <div class="col=6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Удалить запись "{{ object }}"?</p>
                        <button type="submit" class="btn btn-outline-danger form-control m-2">
                            Подтвердить
                        </button>
                        <a href="{% url 'article:list' %}" class="btn btn-outline-warning form-control m-2">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
