<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>КОНТАКТЫ</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">МАГАЗИН</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
        </li>

      </ul>
    </div>

</nav>


<div class="col-6">
    <div class="card form-control">
        <div class="card-body form-control">
            <h3 class="card-title">Оставьте заявку</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="name" placeholder="Имя" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <input type="email" name="email" placeholder="e-mail" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="massage" placeholder="Сообщение" id="floatingTextarea"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary form-control">Отправить</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>