{% extends 'catalog/base.html' %}

{% block content %}

<div class="col-6">
    <div class="card form-control">
        <div class="card-body form-control">
            <h3 class="card-title">Оставьте заявку</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="name" placeholder="Имя" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <input type="email" name="email" placeholder="e-mail" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="massage" placeholder="Сообщение" id="floatingTextarea"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary form-control">Отправить</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}